@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.button {
  width: 100px;
  height: 50px;
  background-color: red;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  box-shadow: 0 0 10px 0 white, 0 0 20px 0 white, 0 0 30px 0 white,
    0 0 40px 0 white, 0 0 50px 0 white, 0 0 60px 0 white;
}

.box-shadow {
  box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
}

.boxBg {
  background: url("./../public/boxBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.82) 0px 3px 8px;
}
.text-shadow {
  text-shadow: 1px 1px 5px white;
}

.selected {
  border: 1px solid #f00;
  color: #ff0000;
}

.lightIcon,
.name {
  position: relative;
  background: transparent;
  letter-spacing: 0.05em;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 0 20px #ff0000;
  font-weight: 700;
  transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  animation: fadeInOut 1s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}
